.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(76, 79, 80);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.liststyle{
  list-style:none;
}
.bg{
  background: #ccc;
}
.m10{
  margin:10px;
}
.p10{
  padding: 10px;
}

.border {
  border: 1px solid grey;
  border-radius: 5px;
}

.pad {
  padding: 15px;
  /*background:#fff;*/
  background: #666;
}
